.coaches-body {
  min-height: $page-height;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;

  h1 {
    border-bottom: solid 2px $gold;
    width: 12%;
    font-size: 28px;
  }
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vh;
}

.coach-card {
  height: 220px;
  width: 420px;
  margin: 0% 7% 2% 0;
  background-color: $dark-bg;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15%);

  .coach-info {
    padding-left: 1.5vw;
    padding-top: 1vh;
    flex: 1.5;

    display: flex;
    flex-direction: column;

    .text {
      flex: 2;

      .name-twitter {
        display: flex;
        flex-direction: row;
        h2 {
          margin-bottom: 0;
          font-size: 26px;
        }
        .coach-twitter-button {
          display: flex;
          align-items: center;
          margin-left: 1vw;
        }
      }

      h3 {
        color: $gold;
        font-size: 22px;
        margin-bottom: 0;
        font-weight: lighter;
      }
    }
    .bio-button {
      flex: 1;
      button {
        border: solid 2px $gold;
        border-radius: 10px;
        color: white;
        background-color: $dark-bg;
        margin-bottom: 6%;
        width: 75%;
      }
    }

    button:hover {
      background-color: $gold;
      color: white;
    }
  }

  .coach-image {
    flex: 1;
    height: 100%;
    img {
      height: 100%;
      width: 100%;
      border-radius: 0px 10px 10px 0;
      object-fit: cover;
    }
  }
}

.modal-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img {
    height: fit-content;
  }
  .bio {
    width: 60%;
  }
}

.modal-content {
  height: 100% !important;
}

.modal-dialog {
  width: 100% !important;
}

.info {
  max-width: 65%;
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 20px;
  }
}
