$total-arrows: 3;
$arrow-line-length: 25px;
$arrow-line-width: 3px;

// arrow animation + choose direction
@mixin arrow-transitions($rot: 0deg) {
  transform: translate(-50%, -50%) rotateZ($rot);
}

body {
  background-color: $light-bg !important;
}

.landing-page {
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.hero {
  height: $page-height;
  width: 100vw;
  position: relative;
  background-image: url("../../img/SplashPage.jpg");
  background-color: $dark-bg !important; //image does not take up entire screen
  background-size: contain; // contains image in original dimension
  background-position: center;
  background-repeat: no-repeat;

  // Scroll Arrows
  .arrow-container {
    display: block;
    width: 100px;
    height: 100px;
    position: relative;
    top: 90%;
    left: 50%;
    @include arrow-transitions(0deg);
    &:hover {
      cursor: pointer;
      .arrow {
        top: 50%;
        &:before {
          @include arrow-transitions(-30deg);
        }
        &:after {
          @include arrow-transitions(30deg);
        }
      }
    }

    .arrow {
      position: absolute;
      left: 50%;
      transition: all 0.4s ease;
      &:before,
      &:after {
        transition: all 0.4s ease;
        content: "";
        display: block;
        position: absolute;
        transform-origin: bottom right;
        background: #fff;
        width: $arrow-line-width;
        height: $arrow-line-length;
        border-radius: 10px;
        transform: translate(-50%, -50%) rotateZ(-45deg);
      }
      &:after {
        transform-origin: bottom left;
        transform: translate(-50%, -50%) rotateZ(45deg);
      }
      @for $i from 1 through $total-arrows {
        &:nth-child(#{$i}) {
          opacity: 0.3 * $i;
          top: 15 + (100% * $i/5);
        }
      }
    }
  }
}

.schedule-page {
  height: 100vh;
  width: 100vw;
  background-color: $light-bg;
}

#schedule {
  margin-top: 10px !important;
  height: 70vh;
  th {
    justify-content: center;
    text-align: center;
    font-size: 24px;
  }
  tr {
    height: 10%;
  }
  td {
    justify-content: center;
    text-align: center;
    vertical-align: middle !important;
    .high-school-logo {
      width: 3vw;
    }
  }
  tbody {
    box-shadow: -2px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .border-col {
    border-right: 2px solid $gold;
  }
}

.label-separator {
  width: 50%;
  border-top: 2px solid $gold;
}

.schedule-label {
  margin-top: 10px;
  h2 {
    padding-left: 0ch;
  }
  border-bottom: 2px solid $gold;
}

.twitter-label {
  margin-top: 10px;
  h2 {
    padding-left: 0ch;
  }
}

.twitter {
  margin-top: 10px !important;
  width: 80% !important;
  .twitter-timeline {
    height: 100% !important;
    width: 100% !important;
  }
}

.news-label {
  h2 {
    padding-left: 0ch;
  }
}

.news {
  margin-top: 10px !important;
  width: 80% !important;
  background-color: gray;
  #newsCarousel {
    background-color: blue;
    height: 100%;
    .carousel-inner {
      height: 100%;
      align-content: center !important;
      justify-content: center !important;
      text-align: center !important;
    }
  }
}

.separator-graphic {
  height: 35vh;
  background-color: $dark-bg;
  .first-column {
    height: 35vh;
    background-color: $dark-bg;
  }
  .second-column {
    height: 35vh;
    background-color: $gold;
  }
  .third-column {
    height: 35vh;
    background-color: $dark-bg;
  }
}

.sponsors-page {
  height: 100vh;
  background-color: $light-bg;
  align-items: center;

  #page-header {
    padding-top: 2vh;
    text-align: center;
    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 28px;
    }
  }

  .sponsor-card {
    padding: 50px;
    margin: 2.5vh 2.5vw;
    max-height: 35vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 100%;
      height: auto;
    }
  }
}
