nav {
  z-index: 9999;
  transition: top 0.3s;
}

.navbar {
  background-color: $dark-bg !important;
  padding: 0;
}

.navbar-custom {
  height: 130px !important;
}

.navbar-brand {
  margin-left: 3vw;
  img {
    padding-top: 3vh;
    width: 90%;
    height: 90%;
  }
}

.navbar-collapse {
  margin-left: 115px;
  flex-flow: row wrap;
  #topRow {
    font-size: 36px;
    a {
      color: white !important;
    }
  }
  #bottomRow {
    border-top: 1.5px solid $gold;
    font-size: 18px;
    a {
      color: $gold;
    }
  }
}

.flex-row {
  flex-direction: row;
}

.navbar-nav {
  margin-right: 5vw;
  li {
    padding-left: 2vw;
    padding-right: 2vw;
  }
}
