.roster-body {
  height: $page-height;
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;

  h1 {
    border-bottom: solid 2px $gold;
    width: 12%;
    font-size: 28px;
  }
}

.card-section {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vh;
}

.player-card {
  height: 150px;
  width: 350px;
  margin: 0% 7% 2% 0;
  background-color: $dark-bg;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15%);

  .player-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 2;

    padding-left: 1.5vw;
    padding-top: 1vh;

    .player-text {
      .player-name {
        h2 {
          font-size: 26px;
          margin-bottom: 0;
        }
      }
      h3 {
        color: $gold;
        font-size: 22px;
        margin-bottom: 0;
        font-weight: lighter;
      }
    }
    .player-social-media {
      width: 30%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .player-stats {
      width: 100%;
      display: flex;
      .stat {
        font-size: 22px;
        padding-left: 7px;
      }
      .divider {
        border-right: solid 1px $gold;
        padding: 0 7px;
      }
    }
  }

  .player-image {
    flex: 1;
    background-color: $gold;
    border-radius: 0 5px 5px 0;
  }
}
