.hero {
  height: $page-height;
  width: 100vw;
  position: relative;
  background-image: url("/img/SplashPage.jpg");
  background-color: $dark-bk !important; //image does not take up entire screen
  background-size: contain; // contains image in original dimension
  background-position: center;
  background-repeat: no-repeat;
}

.schedule-page {
  height: 100vh;
  width: 100vw;
  background-color: $light-bk;
}

.label-separator {
  width: 50%;
  border-top: 2px solid $gold;
}

.schedule-label {
  margin-top: 10px;
  h2 {
    padding-left: 0ch;
  }
  border-bottom: 2px solid $gold;
}

.twitter-label {
  margin-top: 10px;
  h2 {
    padding-left: 0ch;
  }
}

.twitter {
  margin-top: 10px !important;
  width: 80% !important;
  .twitter-timeline {
    height: 100% !important;
    width: 100% !important;
  }
}

.news-label {
  h2 {
    padding-left: 0ch;
  }
}

.news {
  margin-top: 10px !important;
  width: 80% !important;
  background-color: gray;
  #newsCarousel {
    height: 100%;
    .carousel-inner {
      height: 100%;
      align-content: center !important;
      justify-content: center !important;
      text-align: center !important;
    }
  }
}
